

#flex-content-container {
  flex: 1 0 auto;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  padding: 10px 0px;
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 100px;
}

#footer a {
  color: rgb(229, 225, 181);
  font-weight: 100;
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}